<div class="navigation-wrapper">
	<div class="row-fluid main-bar">
		<div class="span12">
			<div class="proud-sideslide slide-label">
				<input type="checkbox" name="left-trigger" class="stopscroll" id="left-trigger" >
				<label for="left-trigger"><%= image_tag("list.png", size: "24x32", alt: "Menu") %></label>
				<div class="proud-bar-container preloaded">
					<nav>
						<ul>
							<% if admin_signed_in? %>
								<%= render :file => "#{Administration::Engine.root}/app/views/shared/_menu.html.erb" %>

							<% elsif user_signed_in? %>				
								<%= render :file => "#{Member::Engine.root}/app/views/shared/_menu.html.erb" %>

							<% else %>
								<li class="hidden-phone"><%= link_to "Forthlight", main_app.root_path %></li>
								<li><%= link_to "Home", main_app.root_path %></li>
								<li><%= link_to "Articles", article.publications_path %></li>
								<li><%= link_to "Blog", administration.blogs_path %></li>
								<li><a href="#">About</a></li>
							
							<% end %>
						</ul>

						<%= form_tag(article.publications_search_path, method: :get, :class => "nav-search hidden-phone") do -%>
							<%= search_field_tag 'keyword', params['keyword'], :placeholder=>"Search...", :class => "launcher-searchbar" %>
							<%= submit_tag 'Go', :class=>"launcher-btn" %>
						<% end -%>
					</nav>
				</div>
			</div>

			<div class="nav-head-title"><%= link_to "Forthlight", main_app.root_path %></div>

			<div class="sneaky-sideslide slide-label">
				<input type="checkbox" name="right-trigger" class="stopscroll" id="right-trigger">
				<label for="right-trigger"><%= image_tag("grid.png", size: "32x32", alt: "Tools") %></label>
				<div class="sneaky-bar-container preloaded">
					<nav>
						<ul>
							<% if user_signed_in? %>
								<%= render :file => "#{Member::Engine.root}/app/views/shared/_compose.html.erb" %>
							<% elsif admin_signed_in? %>
								<%= render :file => "#{Administration::Engine.root}/app/views/shared/_shortcuts.html.erb" %>
							<% else %>
								<ul>
									<li>Forthlight was developed by students at BTH</li>
									<li></li>
								</ul>
							<% end %>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>