<div class="center-stage">
	<div class="row-fluid showcase">
		<div class="span12">
			<div class="span2"></div>
			<div class="span4">
				<h2 class="logo">Forthlight</h2>
				<p>
					We are an open source knowledge sharing site for development and research in the fields of solar energy development and education. 
				</p>
			</div>
			<div class="span4 account-box">		
				<div class="span1"></div>
				<div class="span10">
					<% if user_signed_in? %>
						<p>
							Hello <%= current_user.first_name %>, did you know that as a member you can write articles for the whole world to see? <br>
							Try it out.
						</p>
						<div><%= link_to "Write article", member.new_publication_path, :class=>"mock-btn" %></div>
					<% else  %>
						<h2>Sign in</h2>
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<div>
								<%= f.text_field :login, autofocus: true, :placeholder=>"Username or email", :class=>"fluid-field" %>
							</div>

							<div>
								<%= f.password_field :password, autocomplete: "off", :placeholder=>"Password", :class=>"fluid-field" %>
							</div>

							<div style="login-actions">
								<% if devise_mapping.rememberable? -%>
									<div class="check-style">
										<%= f.check_box :remember_me %> <%= f.label :remember_me %>
									</div>
								<% end -%>
								<%= render "users/shared/links" %>

								<div class="row-fluid">
									<div class="span12">
										<%= f.submit "Sign in", :class=>"mock-btn" %>
										<%= link_to "Register", new_registration_path(resource_name), :class=>"mock-btn", :style=>" padding: 0 0;" %>
									</div>
								</div>
							</div>
						<% end %>		
					<% end %>
				</div>
				<div class="span1"></div>
			</div>	
			<div class="span2"></div>				
		</div>
	</div>
	
	<div class="row-fluid sub-bar intrests-bar">
		<div class="span4">
			<div class="launch-item">
				<h2><%= link_to "Find articles", article.publications_path %></h2>
				<p>Browse and read articles about anything related to solar energy applications. Anyone can read and learn about research data, user projects or commercial products.</p>
			</div>
		</div>
		<div class="span4">
			<div class="launch-item">
				<h2><%= link_to "Contribute", new_registration_path(resource_name) %></h2>
				<p>Start writing your own articles and share your knowledge with the world. Just do a quick registration and you will be part of Forthlight in no time.</p>
			</div>
		</div>
		<div class="span4">
			<div class="launch-item">
				<h2><%= link_to "Learn more", administration.blogs_path %></h2>
				<p>Get the latest news about Forthlight and the solar powered world by reading our blog. Remember to keep an eye out for requested topics.</p>
			</div>
		</div>
	</div>

	<div class="row-fluid sub-bar wiz">
		<div class="span12">
			<h2>Find what you are looking for</h2>
			<p>Use the guided search to find articles.</p>
			<div><%= link_to "Go", article.guide_path(:type), :class => "mock-btn" %></div>
		</div>
	</div>
</div>
<div class="row-fluid sub-bar featured-bar">
	<h2 style="text-align: center">Featured articles</h2>
	<div class="row-fluid">
		<div class="span4">
			<div class="launch-item">
				<h1><%= @fReg.title %></h1>
				<p><%= truncate_to_paragraph(@fReg.content, 255) %></p>
				<%= link_to "Read more", article.publications_path(@fReg.id) %>
			</div>
		</div>
		<div class="span4">
			<div class="launch-item">
				<h1><%= @fSci.title %></h1>
				<p><%= truncate_to_paragraph(@fSci.content, 255) %></p>
				<%= link_to "Read more", article.publications_path(@fReg.id) %>
			</div>
		</div>
		<div class="span4">
			<div class="launch-item">
				<h1><%= @fBus.title %></h1>
				<p><%= truncate_to_paragraph(@fBus.content, 255) %></p>
				<%= link_to "Read more", article.publications_path(@fReg.id) %>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid sub-bar presentation">
	<div class="span12">
		<div class="span2"></div>
		<div class="span8">
			<h2>Step into the Forthlight</h2>
			<p>Register to pool your findings, products and experiences with ours.</p>
		</div>
		<div class="span2"></div>
	</div>
</div>


