<!DOCTYPE html>
<html>
<head>
	<title>Forthlight</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render '../../app/shared/navbar' %>
	<%= yield %>
	jkaskldjhkljsdhalksjdhaslkjdhaslkjdh
</body>
</html>
